<span class="glyphicon glyphicon-calendar"></span> <b><%= recording.time_start.strftime("%Y-%m-%d %H:%M") unless recording.time_start.nil?%></b>
<br />
<span class="glyphicon glyphicon-time"></span> <b><%= recording.get_duration %></b>
<br />
<span class="glyphicon glyphicon-user"></span> <b><%= recording.user.email unless recording.user.nil? %></b>
<br />
<span class="glyphicon glyphicon-comment"></span> <b><%= recording.title %></b>
<br />
<span class="glyphicon glyphicon-phone"></span> <%= link_to(recording.device.identifier, device_path(recording.device)) unless recording.device.nil? %>