<% if locations.count != 0 then %>
<table>
	<thead>
		<tr>
			<th>Recording</th>
			<th>Time</th>
			<th>Longitude</th>
			<th>Latitude</th>
			<th>Altitude</th>
			<th>Speed</th>
			<th>Bearing</th>
			<th>Accuracy</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% locations.each do |location| %>
		<tr>
			<td><%= location.recording_id %></td>
			<td><%= location.time %></td>
			<td><%= location.longitude %></td>
			<td><%= location.latitude %></td>
			<td><%= location.altitude %></td>
			<td><%= location.speed %></td>
			<td><%= location.bearing %></td>
			<td><%= location.accuracy %></td>
			<td><%= link_to 'Show', location %></td>
			<td><%= link_to 'Edit', edit_location_path(location) %></td>
			<td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
No locations recorded
<% end %>
