<%= form_for(@pressure) do |f| %>
  <% if @pressure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pressure.errors.count, "error") %> prohibited this pressure from being saved:</h2>

      <ul>
      <% @pressure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recording %><br>
    <%= f.text_field :recording %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br>
    <%= f.text_field :pressure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
