<%= form_for(@proximity) do |f| %>
  <% if @proximity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proximity.errors.count, "error") %> prohibited this proximity from being saved:</h2>

      <ul>
      <% @proximity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recording %><br>
    <%= f.text_field :recording %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :proximity %><br>
    <%= f.text_field :proximity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
